$border: 10px solid black

html
	box-sizing: border-box
*, *:before, *:after
	box-sizing: inherit

body
	font-family: 'Permanent Marker', cursive
	background-image: url('../img/paper.jpg')

#container
	width: 620px
	margin: 2em auto

.box
	height: 200px
	width: 200px
	float: left
	display: flex
	justify-content: center
	align-items: center
	font-size: 150px
	background: transparent


#box0,
#box1,
#box3,
#box4,
	border-right: $border
	border-bottom: $border

#box2,
#box5
	border-bottom: $border

#box6,
#box7
	border-right: $border

#message
	padding-top: 2em
	font-family: Palatino, sans-serif
	font-size: 1.5em
	text-align: center
	clear: both
	